[submodule "core/class/restful"]
	path = core/class/restful
	url = https://github.com/ershov-ilya/restful.class.php.git
[submodule "core/class/format"]
	path = core/class/format
	url = https://github.com/ershov-ilya/format.class.php.git
[submodule "anketa/assets/parse-get"]
	path = anketa/assets/parse-get
	url = https://github.com/ershov-ilya/parse-get.js.git
[submodule "anketa/js/js-cookie"]
	path = anketa/js/js-cookie
	url = git@github.com:js-cookie/js-cookie.git
