/* --- Модули --- */
.navi1{
	padding:50px 0 0 540px;
	width:400px;
}
.navi2{
	padding:160px 0 0 340px;
	width:400px;
}
.navi3{
	padding:60px 40px 0 40px;
	width:900px;
}
.navi4{
	padding:220px 0 0 300px;
	width:600px;
}
.in-block div{
	padding:20px 0 0 0;
	clear:left;
}
.in-block div > div{
	padding:10px 0 0 0;
	float:left;
	clear:none;
}
.in-block div .label{
	padding:10px 0 0 0;
	width:100px;
	float:left;
}
.in-block div .label2{
	padding:0px 0 0 0 !important;
}
.in-block span{
	color:#FF810D;
}
input{
	padding:4px 6px;
	border:1px solid #C7C7C7;
	float:left;
	height:30px;
	width:240px;
	font-size:15px;
	color:#333;
}
input[type="radio"]{
	width:auto;
	height: auto;
	margin:0 10px 0px 0;
	border:none;
	float:none;
}
.in-block div > div label{
	margin:0 20px 0 0;
}
select{
	padding:4px 6px;
	border:1px solid #C7C7C7;
	float:left;
	height:38px;
	width:252px;
	font-size:15px;
	color:#333;
}
option{
	padding:2px 3px;
}
select[name="birth_day"]{
	width:65px;
	margin:0 10px 0 0;
}
select[name="birth_month"]{
	width:65px;
	margin:0 10px 0 0;
}
select[name="birth_year"]{
	width:102px;
}
.in-block .check .column div{
	clear:left;
}
.in-block .check .column{
	height:260px;
	margin:0 25px 0 0;
	padding:0;
}
.in-block .check .column h1{
	color:#0097EB;
	text-transform:uppercase;
	font:20px 'pf_dindisplay_proregular';
}
input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
/*label.checkbox{	height:38px;}*/
input[type="checkbox"] + label {
    background: url(../img/checkbox_sprite.jpg) 0 0 no-repeat;
	padding:1px 0 1px 30px;
	clear:right;
	float:none;
}
input[type="checkbox"]:hover + label {
    background-position: 0 -20px;
}
input[type="checkbox"]:checked + label {
    background-position: 0 -40px;
}
input[type="checkbox"]:checked:hover + label {
    background-position: 0 -60px;
}
input[type="checkbox"][disabled=""] + label {
    background-position: 0 -80px;
}

.in-block a.social{
	margin:0 120px 0 0;
	height:65px;
	width:65px;
	float:left;
}
.in-block div.vk{
	padding:0;
	height:65px;
	width:65px;
	background: url(../img/social_sprite.png) 0 0 no-repeat;
}
.in-block div.fb{
	padding:0;
	height:65px;
	width:65px;
	background: url(../img/social_sprite.png) 0 -65px no-repeat;
}
.in-block div.in{
	padding:0;
	height:65px;
	width:65px;
	background: url(../img/social_sprite.png) 0 -130px no-repeat;
}
a.section3{
	margin:20px 0 0 300px !important;
}
.next {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe951d), color-stop(1, #ff7402));
        background:-moz-linear-gradient(top, #fe951d 5%, #ff7402 100%);
        background:-webkit-linear-gradient(top, #fe951d 5%, #ff7402 100%);
        background:-o-linear-gradient(top, #fe951d 5%, #ff7402 100%);
        background:-ms-linear-gradient(top, #fe951d 5%, #ff7402 100%);
        background:linear-gradient(to bottom, #fe951d 5%, #ff7402 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe951d', endColorstr='#ff7402',GradientType=0);
        
        background-color:#fe951d;
        
        border:1px solid #ff4d00;
        
        display:inline-block;
        color:#ffffff !important;
        font-family:Trebuchet MS;
        font-size:17px;
        font-weight:bold;
        padding:6px 41px;
        text-decoration:none !important;
        
}
.next:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7402), color-stop(1, #fe951d));
        background:-moz-linear-gradient(top, #ff7402 5%, #fe951d 100%);
        background:-webkit-linear-gradient(top, #ff7402 5%, #fe951d 100%);
        background:-o-linear-gradient(top, #ff7402 5%, #fe951d 100%);
        background:-ms-linear-gradient(top, #ff7402 5%, #fe951d 100%);
        background:linear-gradient(to bottom, #ff7402 5%, #fe951d 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7402', endColorstr='#fe951d',GradientType=0);
        cursor: pointer;
        background-color:#ff7402;
}
.next:active {
        position:relative;
        top:1px;
}
