html{
     background:#EEF3F6 url(../img/bg.png) no-repeat center fixed;
     background-size:cover;
 }
body {
}
#container{}
.section{
	margin:0px;
    /*height:2000px;*/
    width:100%;
    float:left;
}
.block{
	margin:0px auto;
	width:1040px;
	height:960px;
}
.bg1, .bg2, .bg3, .bg4{}
.bg1{background:url(../img/section1.png) no-repeat center;}
.bg2{background:url(../img/section2.png) no-repeat center;}
.bg3{background:url(../img/section3.png) no-repeat center;}
.bg4{background:url(../img/section4.png) no-repeat center;}

/* Стили «Landerr» version 3.0.0 от 20.11.2014 */
input.valid{background: #C6FFC6;}
label.error{display: none !important;}
input.error{background: #FFD1D3;}
.send-success, .send-error, .send-duplicate h3{color: red !important;}
.send-success, .send-error, .send-duplicate p{color: dimgray !important;}

.validate-error {
    padding-left: 140px;
}
